*{
    margin: 0%;
    padding: 0%;
}
body{
    line-height: 1.5rem;

}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
   
}
ul li a:hover,a:active{
    color: rgb(196, 31, 13);
}
.header{
    background: url("images/mainimg.jpg") no-repeat center center/cover;
    height: 600px;
}
.links{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px;
}
.navbar{
    display: flex;
    flex-flow: row;
    justify-content:space-evenly;
}
 ul,.btn-red{
 display:flex;
 margin-top: 100px;
}
ul li a{
    padding-left: 20px;
    text-transform: uppercase;
   
    font-weight: bold;
}
.last{
    display: grid;
    grid-template-columns:1fr 1fr;
    margin: 30px 0px;

}
.last>*:first-child{
    padding:150px 70px;
}
.back-light {
Background-color:#D3D3D3;}
.light{
    color: lightgray;
}
.flex2{
Display:flex;
Flex-direction:row;
Flex-wrap: wrap;
Padding:50px;}
.para img{
Width:400px;}
.icons i{
 padding-left: 40px;
}
.box2{
Background-color:white;
Padding:30px;
}
.text{
    color: white;
    padding: 370px 50px;
}
div .form input,textarea{
    background-color:lightgray;
    padding: 20px;
    
}
div .form input:focus,textarea:focus{
   border: none;
}
.event{
Display:flex;
Flex-direction:column;
Margin-left:7px;
Padding-right:10px;
}
  .footer{
    background-color: rgb(196, 31, 13);
    color: white;
    padding : 30px 50px;
    display : flex;
    justify-content : space-between;
}
.btn-red{
    padding: 20px;
    color: white;
    background-color:  rgb(196, 31, 13);
    border: none;
}
.para{
    display: flex;
padding: 70px;
}
.btn-red:hover{
    background-color: white;
color:rgb(196, 31, 13);
border: 1px solid rgb(196, 31, 13);
}
.red{
    color: red;
}
.our{
    display: flex;
    padding: 50px 100px;
}
.images{
    display: flex;
    justify-content: space-between;
    padding:  100px 300px;
}
.bg-light {
Background-color:#D3D3D3;
Color:black;
Display:flex;
Justify-content:space-between;
Padding:12px 50px;}
.bg-light h4,.bg-light p{
Text-align:center;}
.images .box{
    box-shadow: 0px 0px 10px 5px rgba(204, 200, 200, 0.611);
    padding: 40px;
    margin:0 15px;
}
.images .box i{
Margin:0 7px;}
.images .box img{
    width: 200px;
    clip-path: circle();
}
.center{
    text-align: center;
}
.white{
Color:white;
Padding-top:140px;
Line-height:2.5rem;}
.border-red{
Color:white;
Border:1px solid red;
Margin-top:50px;
padding: 20px;
}
.mainheader{
    background-color: brown;
    color: white;
    padding: 20px;
}
.section{
    padding: 70px;
}
.bg-black{
Background-color:black;
Color:white;
Padding:7px 7px;
}
.bg-white{
Color:red;
Background-color:white;

Font-size:20px;}
.border{
    border: 9px solid lightgray;
}
.attach{
Background-image:url("images/2ndlogo.jpg");
Background-attachment: fixed;
Padding:40px;
Color:black;
Background-size:cover;
Background-position:center;}
.flex{
    display: flex;
justify-content: space-between;
padding-left: 5px;
font-size: 20px;
flex-wrap: wrap;
}
.line{
    
    border-right: 1px solid grey;
}
.pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin: 20px;
}

.inaguration{
    background-color: red;
    padding: 50px;
    display: flex;
justify-content: space-between;
color: white;
Height:auto;
}
.btn-white{
Border:2px solid white;
Color:white;
Padding:5px auto;
Margin-top:10px;
Background-color:red;
Border-radius:9px;
Font-size:20px;}

.oo i{
    font-size: 20px;
    color: white;
    background-color: black;
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    clip-path: circle();
    margin:7px 15px;
}
.start{
    margin-top: 0;
}
.box1 h4,.box p{
Border-radius:10px;
Border:none;
}
.flex1{
Display:grid;
Grid-template-columns:1fr 2fr;
Gap:5px;
}.events{
    padding: 50px;
}
.our-event{
display: flex;
justify-content:space-between;
flex-direction: row;
padding: 40px;
}
.our-event img{
    width: 500px;
}
.hmm{
Display:flex;
Flex-direction:row;
Justify-content: space-between;}
.map{
Width:100%;}
@media (max-width:768px){
.footer{
display: flex;
flex-direction: column;
padding:15px 15px;
}
.last{
display :grid;
grid-template-columns:1fr;}
.form{
padding:0px 15px;}
.mainheader{
display:none;}
.navbar{
display:flex;
flex-direction:column;}
.pics{
display:grid;
grid-template-columns:1fr;
padding:7px;}
.list{
display:flex;
flex-direction:column;}
oo i{
    font-size: 7px;
    color: white;
    background-color: black;
    width: 10px;
    height: 10px;
    padding: 5px 2px;
    clip-path: circle();
    margin:4px 2px;
}
.navbar .logo,.navbar .list{
text-align:center;}
.navbar .btn-red{
margin:20px auto;}
.para,.our{
display:flex;
flex-direction:column;
padding:20px 10px;}
.para img{
width:300px;
Margin-top:10px;}
.images{
display:flex;
flex-direction:column;
Padding:20px 10px;
Margin:0 20px;}
.images .box {
Margin:0 10px;
}
.images .box i{
Margin:0 10px;}
.inaguration{
Display: flex;
Flex-direction:column;}
.bg-light {
Padding:5px 7px;
Flex-direction:column;}
.flex2{
Flex-direction: column;
}
.our-event{
Display:grid;
Grid-template-columns:1fr;
.map{
Width:600px;
Height:450px;
}
.event{
Border-right:1px solid black;}
}
